@page "/"

<h1>Blazor Property Grid Demo</h1>

<p>Welcome to the Blazor Property Grid component library demonstration.</p>

<p>
    <a href="sampleeditform" class="btn btn-primary">View Sample Edit Form</a>
</p>

<p>Click the button above or use the navigation menu to see the Blazor Property Grid in action.</p>

